.footerContainerWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0px var(--padding-5xl);
  box-sizing: border-box;
  max-width: 100%;
}
.servicesDesktop {
  width: 100%;
  position: relative;
  border-radius: var(--br-13xl);
  background-color: var(--asklepios-gray-white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0px 0px var(--padding-5xl);
  box-sizing: border-box;
  line-height: normal;
  letter-spacing: normal;
}
