.text {
  position: relative;
  font-size: var(--text-lg-bold-size);
  letter-spacing: -0.01em;
  display: inline-block;
  font-family: var(--text-lg-bold);
  color: var(--therecovery-teal-50);
  text-align: left;
  min-width: 106px;
}
.monotoneAddIcon {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.button {
  cursor: pointer;
  border: none;
  padding: var(--padding-xl) var(--padding-13xl);
  background-color: var(--asklepios-gray-white);
  border-radius: var(--br-xs);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
