.name {
  width: 326px;
  position: relative;
  letter-spacing: -0.01em;
  font-weight: 800;
  display: inline-block;
  max-width: 100%;
}
.monotoneGenderMale {
  height: 24px;
  width: 24px;
  position: relative;
}
.loremusIpsumusD {
  position: relative;
  letter-spacing: -0.01em;
  font-weight: 600;
}
.text {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.solidEyeIcon {
  height: 24px;
  width: 24px;
  position: relative;
  min-height: 24px;
}
.content {
  align-self: stretch;
  border-radius: var(--br-xs);
  background-color: var(--asklepios-gray-10);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-base);
  gap: var(--gap-xl);
  font-size: var(--text-md-semibold-size);
}
.inputText {
  width: 343px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  max-width: 100%;
  text-align: left;
  font-size: var(--text-sm-semibold-size);
  color: var(--asklepios-gray-80);
  font-family: var(--text-lg-bold);
}
