.span {
  color: var(--therecovery-teal-50);
}
.emptyAchievement {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.02em;
  line-height: 44px;
  font-weight: 800;
}
.industryHealthAwards {
  align-self: stretch;
  position: relative;
  font-size: var(--text-md-semibold-size);
  letter-spacing: -0.01em;
  font-weight: 600;
}
.achievementItem {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-3xs);
  min-width: 214px;
  max-width: 100%;
}
.solidChevronRightMd {
  height: 24px;
  width: 24px;
  position: relative;
}
.frame {
  flex: 1;
  border-radius: var(--br-base);
  background-color: var(--asklepios-gray-10);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-14xl) var(--padding-base);
  box-sizing: border-box;
  gap: var(--gap-5xl);
  min-width: 266px;
  max-width: 100%;
}
.frameIcon {
  height: 140px;
  width: 140px;
  position: relative;
  border-radius: var(--br-xs);
}
.achievementList {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
  max-width: 100%;
  text-align: left;
  font-size: var(--heading-md-extrabold-size);
  color: var(--asklepios-gray-80);
  font-family: var(--text-lg-bold);
}

@media screen and (max-width: 825px) {
  .emptyAchievement {
    font-size: var(--font-size-10xl);
    line-height: 35px;
  }

  .achievementList {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 450px) {
  .emptyAchievement {
    font-size: var(--font-size-3xl);
    line-height: 26px;
  }

  .frame {
    flex-wrap: wrap;
  }
}
