.docplusIsAn {
  align-self: stretch;
  position: relative;
  line-height: 160%;
  font-weight: 500;
}
.faqAccordion {
  align-self: stretch;
  box-shadow: var(--focus-ring-black);
  border-radius: var(--br-base);
  background-color: var(--asklepios-gray-80);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-2xl-5) var(--padding-base);
  box-sizing: border-box;
  gap: var(--gap-base);
  max-width: 100%;
  color: var(--asklepios-gray-white);
}
.fAQAccordions {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
  max-width: 100%;
  text-align: left;
  font-size: var(--text-lg-bold-size);
  color: var(--asklepios-gray-80);
  font-family: var(--text-lg-bold);
}
