.vector {
  position: absolute;
  height: 25%;
  width: 33.33%;
  top: 16.67%;
  right: 37.5%;
  bottom: 58.33%;
  left: 29.17%;
  border-radius: var(--br-11xs-5);
  border: 2px solid var(--asklepios-gray-white);
  box-sizing: border-box;
}
.vector1 {
  position: absolute;
  height: 25%;
  width: 41.67%;
  top: 45.83%;
  right: 16.67%;
  bottom: 29.17%;
  left: 41.67%;
  border-radius: var(--br-11xs-5);
  border: 2px solid var(--asklepios-gray-white);
  box-sizing: border-box;
}
.insightIconThree {
  position: absolute;
  height: 66.67%;
  width: 66.67%;
  top: 16.67%;
  right: 16.67%;
  bottom: 16.67%;
  left: 16.67%;
  border-radius: var(--br-10xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 1;
}
.monotoneAdd {
  height: 24px;
  width: 24px;
  position: relative;
}
.buttonIconFab {
  border-radius: var(--br-xs);
  background-color: var(--asklepios-gray-80);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xl);
}
.actionableInsights {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.01em;
  line-height: 32px;
}
.docplusLeveragesCuttingEdge {
  align-self: stretch;
  position: relative;
  font-size: var(--text-lg-bold-size);
  line-height: 160%;
  font-weight: 500;
  color: var(--asklepios-gray-30);
}
.frame1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.learnMore {
  flex: 1;
  position: relative;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-weight: 800;
  white-space: nowrap;
}
.cardFirstButtonArea {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
  font-size: var(--label-sm-size);
}
.cardFirstBody {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.chooseCardFirst {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-45xl);
  max-width: 100%;
}
.frame {
  width: 375px;
  border-radius: var(--br-5xl);
  background-color: var(--asklepios-gray-70);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-4xl) var(--padding-5xl);
  box-sizing: border-box;
  max-width: 100%;
}
.row {
  width: 1157px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px 14px;
  min-height: 714px;
  max-width: 100%;
  text-align: left;
  font-size: var(--heading-xs-extrabold-size);
  color: var(--asklepios-gray-white);
  font-family: var(--text-lg-bold);
}

@media screen and (max-width: 450px) {
  .actionableInsights {
    font-size: var(--font-size-lgi);
    line-height: 26px;
  }

  .chooseCardFirst {
    gap: var(--gap-13xl);
  }
}
