.pricing {
  position: relative;
  font-size: var(--text-md-semibold-size);
  letter-spacing: -0.01em;
  font-weight: 600;
  font-family: var(--text-lg-bold);
  color: var(--asklepios-gray-70);
  text-align: center;
  display: inline-block;
  min-width: 71px;
}
.tagMaster {
  cursor: pointer;
  border: 1px solid var(--asklepios-gray-70);
  padding: var(--padding-5xs) var(--padding-4xs);
  background-color: transparent;
  width: 91px;
  border-radius: var(--br-4xs);
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.tagMaster:hover {
  background-color: var(--color-slategray-300);
  border: 1px solid var(--color-slategray-100);
  box-sizing: border-box;
}
.heading {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.02em;
  line-height: 44px;
  font-weight: 800;
  font-family: inherit;
}
.cardDescription {
  align-self: stretch;
  position: relative;
  font-size: var(--text-lg-bold-size);
  line-height: 160%;
  font-weight: 500;
  color: var(--asklepios-gray-60);
}
.cardFirstTitle {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.text {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 44px;
  font-weight: 800;
  display: inline-block;
  min-width: 97px;
}
.text1 {
  position: relative;
  font-size: var(--text-md-semibold-size);
  letter-spacing: -0.01em;
  font-weight: 600;
  color: var(--asklepios-gray-60);
  display: inline-block;
  min-width: 129px;
}
.detailFirstRow {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.text2 {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 44px;
  font-weight: 800;
  display: inline-block;
  min-width: 103px;
}
.text3 {
  position: relative;
  font-size: var(--text-md-semibold-size);
  letter-spacing: -0.01em;
  font-weight: 600;
  color: var(--asklepios-gray-60);
  display: inline-block;
  min-width: 78px;
}
.cardDetails {
  width: 280px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.cardFirstBody {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.text4 {
  position: relative;
  font-size: var(--text-lg-bold-size);
  letter-spacing: -0.01em;
  display: inline-block;
  font-family: var(--text-lg-bold);
  color: var(--asklepios-gray-white);
  text-align: left;
  min-width: 96px;
  white-space: nowrap;
}
.monotoneAddIcon {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.button {
  border-radius: var(--br-xs);
  background-color: var(--therecovery-teal-50);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xl) var(--padding-13xl);
}
.anomalyCardButtonWrapper {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.anomalyCardFirst {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 0px var(--padding-13xl);
  box-sizing: border-box;
  gap: var(--gap-21xl);
  min-width: 289px;
  max-width: 100%;
}
.anomalyCardSecond {
  height: 467px;
  flex: 1;
  position: relative;
  border-radius: var(--br-base);
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  min-width: 289px;
}
.anomalyCardFirstParent {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-109xl);
  min-width: 325px;
  max-width: 100%;
}
.row {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 400px;
  max-width: 100%;
  text-align: left;
  font-size: var(--heading-md-extrabold-size);
  color: var(--asklepios-gray-80);
  font-family: var(--text-lg-bold);
}

@media screen and (max-width: 1200px) {
  .anomalyCardFirstParent {
    flex-wrap: wrap;
    gap: var(--gap-45xl);
  }
}
@media screen and (max-width: 825px) {
  .heading {
    font-size: var(--font-size-10xl);
    line-height: 35px;
  }

  .text {
    font-size: var(--font-size-10xl);
    line-height: 35px;
  }

  .text2 {
    font-size: var(--font-size-10xl);
    line-height: 35px;
  }

  .anomalyCardFirstParent {
    gap: var(--gap-13xl);
  }
}
@media screen and (max-width: 450px) {
  .heading {
    font-size: var(--font-size-3xl);
    line-height: 26px;
  }

  .text {
    font-size: var(--font-size-3xl);
    line-height: 26px;
  }

  .text2 {
    font-size: var(--font-size-3xl);
    line-height: 26px;
  }

  .cardFirstBody {
    gap: var(--gap-base);
  }

  .anomalyCardFirst {
    gap: var(--gap-xl);
  }

  .anomalyCardFirstParent {
    gap: var(--gap-base);
  }
}
