.a {
  position: relative;
  letter-spacing: -0.01em;
  display: inline-block;
  min-width: 82px;
}
.tabSingle {
  border-radius: var(--br-3xs);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-sm) var(--padding-base);
}
.a1 {
  position: relative;
  letter-spacing: -0.01em;
  display: inline-block;
  min-width: 63px;
}
.tabSingle1 {
  border-radius: var(--br-3xs);
  background-color: var(--asklepios-gray-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-sm) var(--padding-base);
  color: var(--asklepios-gray-80);
}
.a2 {
  height: 20px;
  position: relative;
  letter-spacing: -0.01em;
  display: inline-block;
}
.tabSingle2 {
  align-self: stretch;
  border-radius: var(--br-3xs);
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-base);
}
.tabGroupText {
  border-radius: var(--br-xs);
  background-color: var(--asklepios-gray-10);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs);
}
.userTestimonials {
  margin: 0;
  width: 393px;
  position: relative;
  font-size: var(--heading-lg-extrabold-size);
  letter-spacing: -0.02em;
  line-height: 56px;
  font-weight: 800;
  font-family: inherit;
  color: var(--asklepios-gray-80);
  text-align: center;
  display: inline-block;
  max-width: 100%;
}
.row {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0px var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-13xl);
  max-width: 100%;
  text-align: right;
  font-size: var(--text-md-semibold-size);
  color: var(--asklepios-gray-60);
  font-family: var(--text-lg-bold);
}

@media screen and (max-width: 1450px) {
  .userTestimonials {
    font-size: var(--font-size-10xl);
    line-height: 34px;
  }

  .row {
    gap: var(--gap-base);
  }
}
@media screen and (max-width: 450px) {
  .userTestimonials {
    font-size: var(--font-size-19xl);
    line-height: 45px;
  }
}
