@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,500;0,600;0,700;0,800;1,700&display=swap");
body {
  margin: 0;
  line-height: normal;
}

.container {
  max-width: 1550px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}
    
:root {
  /* fonts */
  --text-lg-bold: "Plus Jakarta Sans";

  /* font sizes */
  --text-lg-bold-size: 18px;
  --text-sm-semibold-size: 14px;
  --heading-xs-extrabold-size: 24px;
  --font-size-lgi: 19px;
  --paragraph-xl-size: 20px;
  --text-md-semibold-size: 16px;
  --heading-lg-extrabold-size: 48px;
  --font-size-10xl: 29px;
  --font-size-19xl: 38px;
  --label-sm-size: 12px;
  --heading-md-extrabold-size: 36px;
  --font-size-3xl: 22px;
  --heading-2xl-extrabold-size: 72px;
  --font-size-24xl: 43px;
  --font-size-39xl: 58px;
  --heading-sm-extrabold-size: 30px;
  --heading-xl-extrabold-size: 60px;
  --font-size-28xl-7: 47.7px;
  --font-size-237xl: 256px;
  --font-size-83xl: 102px;
  --font-size-45xl: 64px;
  --display-md-extrabold-size: 128px;
  --font-size-32xl: 51px;
  --font-size-13xl: 32px;

  /* Colors */

  --asklepios-gray-white: #fff;
  --asklepios-gray-70: #3d4966;
  --asklepios-gray-80: #242e49;
  --asklepios-gray-50: #818ba0;
  --asklepios-gray-white-a32: rgba(255, 255, 255, 0.32);
  --asklepios-gray-white-a64: rgba(255, 255, 255, 0.64);
  --asklepios-gray-30: #bec5d2;
  --asklepios-gray-10: #f2f5f9;
  --asklepios-gray-60: #5d6a85;
  --asklepios-gray-20: #dce1e8;
  --asklepios-gray-40: #9ea7b8;
  
  --color-dodgerblue-100: #368cff;
  
  --color-gainsboro-100: #e6e6e6;
  --color-gainsboro-300: #d9dbe0;
  --color-gainsboro-400: rgba(230, 230, 230, 0.09);
  
  --color-slategray-100: #63708c;
  --color-slategray-200: #57617d;
  --color-slategray-400: rgba(87, 97, 125, 0.09);
  --color-slategray-300: rgba(99, 112, 140, 0.09);
  
  --therapeia-blue-60: #0f67fe;
  --therapeia-blue-30: #a6cbff;
  --therapeia-blue-20: #d0e4ff;
  --therapeia-blue-40: #78aeff;
  --therapeia-blue-50: #458cff;
  --therapeia-blue-10: #edf5ff;
  
  --therapeia-blue-70: #008B7E;
  --therapeia-blue-60: #00A290;
  --therapeia-blue-10: #A6DDD3;
  --therapeia-blue-50: #26A699;
  --therapeia-blue-30: #5AC1B2;
  
  --aceso-purple-50: #a56eff;
  --aceso-purple-60: #8a3ffc;
  --aceso-purple-10: #f6f2ff;
  
  --hygieia-red-10: #fff1f3;
  --hygieia-red-50: #fa4d5e;
  
  --panacea-teal-10: #d9fbfb;
  --panacea-teal-20: #9eeff0;
  --panacea-teal-40: #08b4bd;
  
    /* Effects */
  --focus-ring-black: 0px 0px 0px 4px rgba(9, 14, 29, 0.25);
  --focus-ring-blue: 0px 0px 0px 4px rgba(15, 103, 254, 0.25);
  --focus-ring-white: 0px 0px 0px 4px rgba(255, 255, 255, 0.25);
  --card-shadow-black-5: 0px 16px 32px rgba(9, 14, 29, 0.05);
  --shadow-md: 0px 6px 12px rgba(16, 24, 40, 0.1);
  --indicator-indicator-blue: 0px 4px 8px rgba(15, 103, 254, 0.35);

  /* Gaps */
  --gap-5xl: 24px;
  --gap-152xl: 171px;
  --gap-2xl: 21px;
  --gap-24xl: 43px;
  --gap-66xl: 85px;
  --gap-base: 16px;
  --gap-45xl: 64px;
  --gap-13xl: 32px;
  --gap-xl: 20px;
  --gap-xs: 12px;
  --gap-29xl: 48px;
  --gap-5xs: 8px;
  --gap-77xl: 96px;
  --gap-109xl: 128px;
  --gap-44xl: 63px;
  --gap-12xl: 31px;
  --gap-21xl: 40px;
  --gap-17xl: 36px;
  --gap-lg: 18px;
  --gap-81xl-5: 100.5px;
  --gap-6xl: 25px;
  --gap-31xl: 50px;
  --gap-19xl: 38px;
  --gap-lgi: 19px;
  --gap-2xs-5: 10.5px;
  --gap-3xs: 10px;
  --gap-4xs: 9px;
  --gap-23xl: 42px;
  --gap-123xl: 142px;
  --gap-16xl: 35px;
  --gap-2xl-2: 21.2px;
  --gap-base-1: 15.1px;
  --gap-10xs-5: 2.5px;
  --gap-8xs: 5px;
  --gap-129xl: 148px;
  --gap-18xl: 37px;
  --gap-104xl: 123px;
  --gap-42xl: 61px;
  --gap-176xl: 195px;
  --gap-78xl: 97px;
  --gap-122xl: 141px;
  --gap-44xl-5: 63.5px;
  --gap-4xl-8: 23.8px;
  --gap-base-9: 15.9px;
  --gap-56xl: 75px;
  --gap-11xl: 30px;
  --gap-112xl: 131px;
  --gap-14xl: 33px;
  --gap-46xl: 65px;
  --gap-132xl-4: 151.4px;
  --gap-57xl: 76px;
  --gap-237xl: 256px;
  --gap-52xl: 71px;
  --gap-25xl: 44px;
  --gap-138xl: 157px;
  --gap-59xl: 78px;
  --gap-20xl: 39px;
  --gap-41xl: 60px;
  --gap-9xs: 4px;
  --gap-4xl: 23px;
  --gap-0: 0px;
  --gap-126xl: 145px;
  --gap-53xl: 72px;
  --gap-8xl: 27px;
  --gap-85xl-5: 104.5px;
  --gap-7xl: 26px;
  --gap-33xl: 52px;
  --gap-smi: 13px;
  --gap-123xl-5: 142.5px;
  --gap-107xl-5: 126.5px;
  --gap-125xl: 144px;
  --gap-124xl: 143px;
  --gap-51xl: 70px;
  --gap-mid: 17px;
  --gap-7xs: 6px;
  --gap-28xl: 47px;
  --gap-9xl: 28px;
  --gap-117xl: 136px;
  --gap-49xl: 68px;
  --gap-15xl: 34px;
  --gap-67xl: 86px;
  --gap-55xl: 74px;
  --gap-71xl: 90px;
  --gap-26xl: 45px;
  --gap-3xl: 22px;
  --gap-37xl: 56px;
  --gap-111xl: 130px;

  /* Paddings */
  
  --padding-7xs: 6px;
  --padding-5xs: 8px;
  --padding-4xs: 9px;
  --padding-5xs-5: 7.5px;
  --padding-11xs: 2px;
  --padding-12xs: 1px;
  --padding-8xs-5: 4.5px;
  --padding-xs: 12px;
  --padding-9xs: 4px;
  --padding-2xs: 11px;
  --padding-3xs: 10px;
  --padding-8xs: 5px;
  --padding-12xs-1: 0.1px;
  --padding-6xs: 7px;
  --padding-10xs: 3px;
  --padding-4xs-5: 8.5px;
  
  --padding-mini: 15px;
  --padding-mid: 16px;
  
  --padding-17xl: 36px;
  --padding-5xl: 24px;
  --padding-6xl: 25px;
  --padding-83xl: 102px;
  --padding-base: 16px;
  --padding-24xl: 43px;
  --padding-47xl: 66px;
  --padding-xl: 20px;
  --padding-13xl: 32px;
  --padding-2xl: 21px;

  --padding-41xl: 60px;
  --padding-90xl-5: 109.5px;
  --padding-52xl: 71px;

  --padding-72xl: 91px;
  --padding-40xl: 59px;
  --padding-19xl: 38px;
  --padding-xl-5: 20.5px;
  --padding-4xl: 23px;

  --padding-7xl: 26px;
  --padding-77xl: 96px;
  --padding-11xl: 30px;
  --padding-21xl: 40px;
  --padding-43xl: 62px;

  --padding-217xl: 236px;
  --padding-99xl: 118px;
  --padding-100xl: 119px;
  --padding-10xl: 29px;
  --padding-40xl-5: 59.5px;
  --padding-103xl: 122px;
  --padding-102xl: 121px;
  --padding-60xl: 79px;
  --padding-32xl: 51px;

  --padding-lg: 18px;
  --padding-12xl: 31px;
  --padding-48xl: 67px;
  --padding-14xl: 33px;
  --padding-29xl: 48px;
  --padding-249xl: 268px;
  --padding-250xl: 269px;
  --padding-115xl: 134px;
  --padding-9xl: 28px;
  --padding-8xl: 27px;
  --padding-20xl: 39px;

  --padding-27xl: 46px;
  --padding-105xl: 124px;
  --padding-62xl: 81px;
  --padding-283xl: 302px;
  --padding-177xl: 196px;
  --padding-90xl: 109px;
  --padding-sm: 14px;
  --padding-123xl: 142px;


  --padding-2xl-5: 21.5px;
  --padding-109xl: 128px;
  --padding-26xl: 45px;
  --padding-71xl: 90px;
  --padding-39xl: 58px;
  --padding-45xl: 64px;
  --padding-23xl: 42px;
  --padding-60xl-6: 79.6px;
  --padding-33xl: 52px;
  --padding-98xl-4: 117.4px;
  --padding-57xl: 76px;

  --padding-76xl: 95px;
  --padding-lgi: 19px;
  --padding-25xl: 44px;
  --padding-36xl: 55px;
  --padding-34xl: 53px;
  --padding-65xl: 84px;
  --padding-793xl: 812px;
  --padding-229xl: 248px;

  --padding-35xl: 54px;
  --padding-64xl: 83px;
  --padding-91xl: 110px;
  --padding-255xl: 274px;
  --padding-273xl: 292px;
  --padding-127xl: 146px;
  --padding-54xl: 73px;
  --padding-31xl: 50px;

  --padding-15xl: 34px;
  --padding-38xl: 57px;
  --padding-70xl: 89px;
  --padding-126xl: 145px;
  --padding-98xl: 117px;
  --padding-134xl: 153px;
  --padding-49xl: 68px;
  --padding-18xl: 37px;
  --padding-67xl: 86px;
  --padding-37xl: 56px;
  --padding-31xl-5: 50.5px;
  --padding-204xl: 223px;
  --padding-75xl: 94px;
  --padding-188xl: 207px;
  --padding-116xl: 135px;
  --padding-85xl: 104px;
  --padding-16xl: 35px;
  --padding-smi: 13px;

  --padding-61xl: 80px;
  --padding-51xl-5: 70.5px;
  --padding-106xl: 125px;
  --padding-3xl: 22px;
  --padding-86xl: 105px;
  --padding-42xl: 61px;
  --padding-96xl: 115px;
  --padding-190xl: 209px;
  --padding-68xl: 87px;
  --padding-58xl: 77px;
  --padding-89xl: 108px;
  --padding-79xl: 98px;
  --padding-246xl: 265px;
  --padding-45xl-5: 64.5px;
  --padding-113xl: 132px;
  --padding-73xl: 92px;

  /* Border radiuses */
  --br-13xl: 32px;
  --br-5xl: 24px;
  --br-xs: 12px;
  --br-11xs: 2px;
  --br-10xs: 3px;
  --br-11xs-5: 1.5px;
  --br-4xs: 9px;
  --br-base: 16px;
  --br-9xs: 4px;
  --br-6xl: 25px;
  --br-3xs-9: 9.9px;
  --br-2xs: 11px;
  --br-3xs: 10px;
  --br-5xs: 8px;
  --br-14xl-3: 33.3px;
  --br-12xl-8: 31.8px;
  --br-12xs: 1px;
  --br-sm: 14px;
  --br-2xs-5: 10.5px;
  --br-7xs-6: 5.6px;
  --br-12xs-5: 0.5px;
  --br-7xs: 6px;
  --br-mid-3: 17.3px;
  --br-lg: 18px;


}
